<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:text="${title}">Login</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" />
	<link rel="stylesheet" th:href="@{/css/login/login.css}" href="../../css/login/login.css" />
</head>
<body>
	<div class="container h-100">
		<div class="row h-100 justify-content-center align-items-center">
			<div class="col-10 col-md-6 pull-md-">
				<div class="card card-outline-primary mb-3">
					<div class="card-header text-center">
						<h5 class="card-title">Login</h5>
					</div>
					<div class="card-body">
						<form>
							<div class="form-group">
								<label for="exampleInputEmail1">Usename</label>
							    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
							  </div>
							  <br/>
							  <div class="form-group">
							    <label for="exampleInputPassword1">Password</label>
							    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
							  </div>
							  <br/>
							  <div class="form-group">
							  	<button type="button" class="btn btn-secondary btn-lg btn-block">Submit</button>
							  </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>